.navbar-custom {
  background: var(--green-primary);
}

.navbar-custom div ul li a {
  display: flex;
  align-items: center;
}
.navbar-custom div ul li a svg {
  font-size: 18px;
  margin-right: 4px;
}
