.main-content {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--green);
  padding: 20px;
}
.main-content div {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.title-group {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;

  color: var(--font-primary);
}
.title-group h1 {
  margin-bottom: 30px;
  font-size: 56px;
  font-family: 'Passion One', cursive;
}
.title-group h3 {
  align-self: flex-start;
}
.main-content div img {
  width: 700px;

  vertical-align: middle;
}
