:root {
  --green-primary: #007b36;
  --white-primary: #f5f5f5;
  --bg-prymary: #ffffff;
  --bg-secondary: #212121;
  --font-white: #fafafa;
  --font-black: #191919;
  --font-primary: #fafafa;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--bg-prymary);
}
header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header hr {
  width: 100%;
  border: 0;
  border-bottom: 0.2px solid #555;
  flex: 1;
}
